/**
 * Global Styles
 *
 * Fonts
 *   @font-size-base: 16px
 *   @font-family: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/#details-of-approach-a
 *   36, 24, 18, 16, 14
 *
 * Spacing
*    4, 8, 12, 16, 24, 32, 48, 64, 80
 *
 * Image location
 *   @url-img: "/images";
 *
 * Icon sizes
 *   1024
 *   512
 *   256
 *   128
 *   64
 *
 * Breakpoints
 * These are all done on 300px increments (from a mobile first approach)
 * i.e. min-width: 300px, min-width: 600px, min-width: 900px, min-width: 1200px
 */

:root {
  --color-border: rgba(0, 0, 0, 0.2);
  --color-border-light: rgba(0, 0, 0, 0.075);
  --color-link: rgba(0, 0, 238, 1);
  --color-link-rgb: 0, 0, 238;
  --color-text: #333;
  --color-text-light: #999;
  --color-bg: rgba(255, 255, 255, 1);
  --color-bg-rgb: 255, 255, 255;
  --color-icon-hover-effect: rgba(0, 0, 0, 0.065);
  --border-radius: 7px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-border: rgba(255, 255, 255, 0.2);
    --color-border-light: rgba(255, 255, 255, 0.075);
    --color-link: rgba(3, 169, 244, 1);
    --color-link-rgb: 3, 169, 244;
    --color-text: #ddd;
    --color-text-light: #888;
    --color-bg: rgba(52, 52, 52, 1);
    --color-bg-rgb: 52, 52, 52;
    --color-icon-hover-effect: rgba(0, 0, 0, 0.125);
  }
}

/* ==========================================================================
   General
   ========================================================================== */

[hidden] {
  display: none !important;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: light dark;
  background-color: var(--color-bg);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Myriad Pro", "Lucida Sans",
    "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
    "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  color: var(--color-text);
}

/* Avoid zoom in iOS
   https://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone */
input,
select,
select:focus,
textarea,
button {
  font-size: 16px;
}

button {
  font-family: inherit;
  margin: 0;
  padding: 0;
  text-transform: none;
  -webkit-appearance: button;
  border: none;
  background: transparent;
  color: var(--color-link);
}

/* Sticky footer at bottom no matter height
   https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#main {
  flex: 1;
}

html.open-modal,
html.open-modal body {
  overflow: hidden;
  position: relative;
  height: 100%;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

b,
strong,
.bold {
  font-weight: 700;
}

em {
  font-style: italic;
}

.external-link {
  white-space: nowrap;
}

.external-link:after {
  content: "\2192";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
  vertical-align: middle;
  font-size: 0.75em;
}

/* ==========================================================================
   Ads
   ========================================================================== */

.ad-container {
  font-size: 13px;
  color: var(--color-text);
}

.ad-container a {
  color: inherit;
}

/* Contextual styles */
.icon-list .ad-container {
  text-align: center;
  padding: 10px;
}

#carbonads .carbon-text {
  display: block;
}

#carbonads .carbon-poweredby {
  font-size: 11px;
  color: var(--color-text-light);
}

/* ==========================================================================
   Site-specific Styles
   ========================================================================== */

/* watchos icon gallery
   ========================================================================== */
.watchosicongallery .icon {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

/* ios icon gallery
   The general idea here is that every icon is wrapped in a <span.icon-wrapper>
   This is used to position a pseudo element over the <img.icon> which acts
   as the mask and/or border for the icon.
   By default, we assume the new squircle shape for all icons. We get as close
   as possible to that shape using old-fashioned, relatively-well supported CSS.
   From that base stage, we override and enhance those styles based on browser
   capabilities and whether the icon was pre or post ios7, derived by looking
   at the `data-date` attribute on .icon-wrapper
   ========================================================================== */

/* By default, we give everything an approximate "squircle" shape using 
   some old-fashioned CSS */
.iosicongallery .icon {
  border-radius: 22.5%;
}
/* and we include a mask */
.iosicongallery .icon-wrapper:after {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 22.5%;

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

/* For browsers that can mask, you get a real squircle mask along with a
   1px inset border */
@supports (mask-size: cover) or (-webkit-mask-size: cover) {
  .iosicongallery .icon {
    /* Override the old-fashioned defaults */
    border-radius: 0;

    /* Apply a mask */
    -webkit-mask-image: url(/assets/images/ios-mask.svg);
    -webkit-mask-size: cover;
    mask-image: url(/assets/images/ios-mask.svg);
    mask-size: cover;
  }

  .iosicongallery .icon-wrapper:after {
    /* override the old-fashioned defaults */
    border-radius: 0;
    box-shadow: none;

    /* overlay the icon with a svg mask that adds a 1px inner border */
    background-size: cover;
    background-image: url(/assets/images/ios-mask-border.svg);
  }
}

/* Override the old-fashioned and new-fashioned styles IF the icon
   is pre iOS7 (release date: Sep 18, 2013) */
.iosicongallery .icon-wrapper[data-date^="2011-"] .icon,
.iosicongallery .icon-wrapper[data-date^="2012-"] .icon,
.iosicongallery .icon-wrapper[data-date^="2013-0"] .icon {
  /* override mask enhancements */
  -webkit-mask: none;
  mask: none;
  /* override default squircle */
  border-radius: 17.544%;
}
.iosicongallery .icon-wrapper[data-date^="2011-"]:after,
.iosicongallery .icon-wrapper[data-date^="2012-"]:after,
.iosicongallery .icon-wrapper[data-date^="2013-0"]:after {
  /* override mask ehancements */
  background-image: none;
  /* override default squircle */
  border-radius: 17.544%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
}

/* ==========================================================================
   Header
   ========================================================================== */

.header {
  display: flex;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 599px) {
  .header {
    padding: 10px 0;
  }
}

.header h1 > a .site-title-id,
.header h1 > a .site-title-description {
  font-size: 36px;
}

.site-title-description {
  color: var(--color-text-light);
  font-weight: 300;
}

@media screen and (max-width: 600px) {
  .site-title-description span {
    display: none;
  }
  .site-title-description:after {
    content: "s";
  }
}

/* Logo & attribution
   ========================================================================== */

.header h1 {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 600px) {
  .header h1 {
    padding: 8px 0 10px;
    flex-wrap: nowrap;
  }
}

.header h1 > a {
  font-size: 36px;
  color: var(--color-text);
}

.header h1 > a:hover {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .header h1 > a,
  .header h1 > a .site-title-id,
  .header h1 > a .site-title-description {
    font-size: 28px;
  }
}

/* Navigation & Dropdown
   ========================================================================== */

.header nav {
  flex-grow: 1;
  display: flex;
}

.header details {
  position: relative;
}

.header summary {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  height: 30px;
  width: 30px;
  margin-left: 5px;
  position: relative;
  top: 1px;
}

.header summary span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}

.header summary::-webkit-details-marker {
  display: none;
}

.header summary svg {
  width: 100%;
  height: 100%;
  fill: var(--color-text-light);
  transition: 0.3s ease transform;
}

.header summary:hover svg {
  text-decoration: none;
  fill: var(--color-text);
}

.header summary:hover,
.header details[open] summary {
  background: var(--color-border-light);
}

.header details[open] summary svg {
  fill: var(--color-text);
  transform: rotate(-180deg) translateY(1px);
}

.header details[open] summary::before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.header details[open] ul {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

/* Dropdown box */

.header details ul {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 8px;
  width: 240px;
  margin-left: -125px;
  left: 50%;
  background: #fff;
  background: var(--color-bg);
  z-index: 10000;
  position: absolute;

  top: 80%;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease all;
}

@media screen and (max-width: 660px) {
  .header details ul {
    left: 0;
    margin-left: 0;
  }
  .header details {
    position: static;
  }
}

.header details li a {
  display: block;
  padding: 8px;
  position: relative;
  border-radius: calc(var(--border-radius) - 2px);
  color: var(--color-text);
}
@media screen and (min-width: 900px) {
  .header details li a {
    padding: 4px 8px;
  }
}

.header details li a:hover {
  background: var(--color-border-light);
  text-decoration: none;
}

.header details li a.external-link:after {
  color: var(--color-text-light);
  position: absolute;
  right: 14px;
  top: 8px;
}

.header details li.divider {
  border-bottom: 1px solid var(--color-border-light);
  margin-bottom: 8px;
  padding-bottom: 8px;
}

/* ==========================================================================
   Icons (Lists and Views)
   ========================================================================== */

/* Icon & Sizes
   ========================================================================== */

.icon {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Icon Wrapper - wraps the <img.icon> element 
   (useful for iOS where we need masks)
   ========================================================================== */

.icon-wrapper {
  position: relative;
  display: block;
}

/* List of icons on home screen
   ========================================================================== */

.icon-list {
  box-shadow: inset 1px 1px 0 var(--color-border-light);
  display: grid;
}

.icon-list--128 {
  grid-template-rows: repeat(auto-fill, 150px);
  grid-template-columns: repeat(auto-fill, 150px);
  grid-auto-columns: 150px;
  grid-auto-rows: 150px;
}
/* Make the icons just a bit smaller when on small screens */
@media screen and (max-width: 599px) {
  .icon-list--128 .icon-wrapper {
    width: 84px;
    height: 84px;
  }
}

.icon-list--64 {
  grid-template-rows: repeat(auto-fill, 100px) !important;
  grid-auto-rows: 100px !important;
  grid-template-columns: repeat(auto-fill, 100px) !important;
}

.icon-list > li {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset -1px -1px 0px var(--color-border-light);
}

.icon-list > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.icon-list > li > a:hover {
  box-shadow: inset 0 0 30px var(--color-icon-hover-effect);
}

/* if it's an icon list, the ad will be the last one in the list, but we'll
   display it higher up in the hierarchy */
.icon-list--has-ad > li:first-child {
  order: 1;
}
.icon-list--has-ad > li:last-child {
  order: 2;
}
.icon-list--has-ad > li {
  order: 3;
}
@media screen and (max-width: 599px) {
  .icon-list--has-ad > li:last-child {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.wrapper {
  margin: 0 auto;
  width: 300px;
}

@media screen and (min-width: 600px) {
  .wrapper {
    width: 600px;
  }
  .icon-list {
    grid-template-rows: repeat(auto-fill, 300px);
    grid-auto-rows: 300px;
    grid-template-columns: repeat(auto-fill, 300px);
  }
}
@media screen and (min-width: 900px) {
  .wrapper {
    width: 900px;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
  }
}

/* ==========================================================================
   Post Page
   ========================================================================== */

.post {
  padding: 20px 0;
  margin-bottom: 20px;
  border-top: 1px solid var(--color-border-light);
}

/* Post Icons
   ========================================================================== */

.post-icons {
  min-height: 512px; /* small extra for icon shadow for <iOS7 icons */
}

/* Layouts: https://codepen.io/jimniels/pen/yjdmdZ */
@media screen and (min-width: 1200px) {
  .post-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  /* clearfix */
  .post-icons:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
  .post-icons .icon-wrapper {
    float: left;
  }
  /* target sizes 256, 128, 64 */
  .post-icons .icon-wrapper:nth-child(n + 2) {
    margin-top: 40px;
    margin-left: 90px;
  }
  .post-icons .icon-wrapper:nth-child(4) {
    margin-left: 60px !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .post-icons {
    width: 512px;
    margin-left: auto;
    margin-right: auto;
  }
  .post-icons .icon-wrapper {
    float: left;
  }
  /* target 256, 128, 64 */
  .post-icons .icon-wrapper:nth-child(n + 2) {
    margin-top: 20px;
    margin-right: 30px;
  }
  .post-icons .icon-wrapper:nth-child(4) {
    margin-right: 0px !important;
  }
}

@media screen and (max-width: 599px) {
  .post-icons {
    min-height: 422px;
  }
  .post-icons .icon-wrapper:nth-child(1) {
    display: none;
  }
  .post-icons .icon-wrapper:nth-child(2) {
    /* 300px wide, 256px icon, 300-256=44, 44/2=22px on either side */
    float: left;
    margin: 0 22px 20px;
  }
  .post-icons .icon-wrapper:nth-child(3),
  .post-icons .icon-wrapper:nth-child(4) {
    float: left;
    margin-left: 35px;
  }
}

/* Post Meta
   ========================================================================== */

.post-icons + .post-meta {
  margin-top: 20px;
}

.post-meta {
  font-size: 18px;
  position: relative;
  border-top: 1px solid var(--color-border-light);
  padding: 0.618rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.post-meta__label {
  color: var(--color-text-light);
}
@media screen and (min-width: 600px) {
  .post-meta__label {
    font-size: 24px;
  }
}

.post-meta__value {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.post-meta__value a {
  font-size: 1rem;
}

.post-meta dl {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.post-meta-wrapper {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .post-meta dl {
    flex-direction: row;
  }
}
.post-meta__label {
  width: 200px;
}
.post-meta__toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 0;
  border-radius: var(--border-radius);
  padding: 3px 3px 3px 6px;
  margin-left: 1rem;
  color: var(--color-text-light);
  font-size: inherit;
  outline: none;
  display: flex;
  align-items: center;
}

.post-meta__toggle:hover {
  background-color: var(--color-border-light);
  color: var(--color-text);
}
.post-meta__toggle:hover .svgcon {
  fill: var(--color-text);
}

.post-meta .svgcon {
  width: 24px;
  height: 24px;
  fill: var(--color-text-light);
}

@media screen and (max-width: 599px) {
  .post-meta .svgcon {
    width: 18px;
    height: 18px;
  }
  .post-meta button {
    font-size: 14px;
  }
}

.post-meta .external-link::after {
  margin-left: 0.25rem;
}

.post-meta .icon-list {
  box-shadow: inset 1px 0 0 var(--color-border-light),
    inset -1px 0 0 var(--color-border-light);
  box-shadow: none;
  position: relative;
}
.post-meta .icon-list li {
  box-shadow: none;
}
.post-meta .icon-list li a {
  border-radius: var(--border-radius);
}
/* blocks out the 1px border on the bottom */
.post-meta .icon-list::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--color-bg);
  bottom: 0;
  z-index: 100;
}

.related-icons {
  overflow: hidden;
  flex-basis: 100%;
}

.related-icons__load-more {
  display: block;
  text-align: center;
  margin-top: -100px;
  height: 100px;
  background: linear-gradient(
    rgba(var(--color-bg-rgb), 0) 0%,
    var(--color-bg) 50%
  );
  z-index: 1000;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px 0 5px;
}

/* Post Ad
   ========================================================================== */

.post-ad {
  overflow: auto; /* clearfix */
  min-height: 122px; /* 100 img + 20px padding + 2px border */
  padding: 10px 0;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .post-ad {
    width: 340px;
    margin: 20px auto 20px;
    text-align: left;
  }
  .post-ad img {
    float: left;
    margin-right: 10px !important;
  }
}

@media screen and (min-width: 1200px) {
  .post-ad {
    margin-right: 0;
    margin-top: -120px;
  }
}

/* ==========================================================================
   Footer
   ========================================================================== */

#footer {
  margin-top: 180px;
  margin-bottom: 30px;
  font-size: 14px;
}
@media screen and (max-width: 599px) {
  #footer ul li {
    border-top: 1px solid var(--color-border-light);
  }
  #footer ul li > a,
  #footer ul li > p {
    padding: 10px 0;
    display: block;
  }
}
@media screen and (min-width: 600px) {
  #footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #footer ul li:after {
    content: "·";
    margin: 0 10px;
  }
  #footer ul li:last-child:after {
    display: none;
  }
}

/* ==========================================================================
   Pages
   ========================================================================== */

.page {
  border-top: 1px solid var(--color-border-light);
  padding: 20px 0;
}

.md {
  font-size: 18px;
}
.md h1 {
  font-size: 36px;
}
.md h2 {
  font-size: 24px;
}
.md h3 {
  font-size: 18px;
}

.md > * {
  margin-bottom: 20px;
}

/* ==========================================================================
Quick Search
========================================================================== */

.quick-search {
  position: relative;
  display: none;
}

.js .quick-search {
  display: flex;
}

/* Search Button
========================================================================== */
.quick-search__btn {
  border: none;
  border-radius: 7px;
  width: 36px;
  height: 36px;
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.quick-search__btn .svgcon {
  width: 18px;
  height: 18px;
  fill: var(--color-text-light);
}

.quick-search__btn:hover {
  color: var(--color-text);
  background-color: var(--color-border-light);
}

.quick-search__btn:hover .svgcon {
  fill: var(--color-text);
}

/* Quick Search Modal
Default style is full width overlay. On desktop, you get a centered component
========================================================================== */

.quick-search__modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(var(--color-bg-rgb), 0.95);
  z-index: 10000;
  overflow: hidden;
}

@supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
  .quick-search__modal {
    background: rgba(var(--color-bg-rgb), 0.9125);
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
  }
}

.quick-search__modal__inputs {
  display: flex;
  /* align-items: center; */
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid var(--color-border);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px; /* 36px height of input + 10px padding on either side */
}

.quick-search__modal__inputs > div {
  position: relative;
  flex-grow: 1;
  margin-right: 10px;
}
.quick-search__modal__inputs > div input {
  background-color: var(--color-border-light);
  border: none;
  border-radius: 7px;
  padding: 0 10px;
  height: 36px;
  -webkit-appearance: none; /* turns off border-radius rounding */
  color: inherit;
  width: 100%;
}
.quick-search__modal__inputs > div button {
  position: absolute;
  top: 9px;
  right: 10px;
  display: flex;
}
.quick-search__modal__inputs > div button .svgcon {
  width: 18px;
  height: 18px;
  fill: var(--color-border);
}
.quick-search__modal__inputs > div button:hover .svgcon,
.quick-search__modal__inputs > div button:active .svgcon {
  fill: var(--color-text);
}
.quick-search__modal__inputs button[type="button"] {
  padding: 0 10px;
}

.quick-search__modal__outputs {
  position: fixed;
  top: 56px;
  width: 100%;
  height: auto;
  max-height: calc(100% - 56px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* Different style for desktop */
@media screen and (min-width: 600px) {
  .quick-search__modal__inputs,
  .quick-search__modal__outputs {
    width: 500px;
    left: 50%;
    margin-left: -250px;
    background: var(--color-bg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .quick-search__modal__inputs {
    top: 20px;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
  .quick-search__modal__outputs {
    top: 76px;
    max-height: calc(100% - 96px);
    border: 1px solid var(--color-border);
    border-top: none;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
}

/* Quick Search Outputs
========================================================================== */

/**
* Messages in the render body
*/
.qs-outputs__message {
  padding: 40px 10px;
  text-align: center;
  color: var(--color-text-light);
  max-width: 400px;
  margin: 0 auto;
}
.qs-outputs__message .svgcon {
  fill: var(--color-text-light);
  width: 32px;
  margin-bottom: 10px;
  height: 32px;
}
.qs-outputs__message--has-error {
  color: red;
}
.qs-outputs__message--has-error .svgcon {
  fill: red;
}

/**
* Search results
*/

.qs-outputs__results h4 {
  padding: 0 10px;
  background: var(--color-border-light);
  line-height: 2;
  display: flex;
  justify-content: space-between;
}
.qs-outputs__results h4 :last-child {
  opacity: 0.5;
}

.qs-outputs__results ul li a {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid var(--color-border-light);
}
.qs-outputs__results ul li a:hover {
  text-decoration: none;
}
.qs-outputs__results ul li a:hover h5 {
  text-decoration: underline;
}
.qs-outputs__results h5 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
}
.qs-outputs__results h6 {
  /* date */
  color: var(--color-text-light);
}
.qs-outputs__results__icon {
  width: 64px;
  height: 64px;
  min-width: 64px;
}
.qs-outputs__results__icon--has-multiple {
  background: var(--color-border-light);
  display: grid;
  grid-template-columns: 24px 24px;
  grid-template-rows: 24px 24px;
  grid-gap: 6px;
  justify-content: center;
  align-content: center;
  border-radius: var(--border-radius);
}
.qs-outputs__results__text {
  margin-left: 10px;
  overflow: hidden;
}
